body{

margin:0;

background:#111;

color:white;

font-family:Microsoft YaHei;

}


.header{

height:60px;

background:#181818;

padding:20px;

font-size:26px;

}


.main{

display:flex;

height:calc(100vh - 60px);

}


.left{

width:260px;

background:#151515;

padding:15px;

}


.center{

flex:1;

}


.right{

width:280px;

background:#151515;

padding:15px;

}


.card{

background:#333;

padding:12px;

margin:8px;

border-radius:8px;

}

